body {
    overflow-x: hidden;
    background-color:var(--background);
}
.container {
    width: 80vw;
    margin: auto;
    /* background-color: red; */
}
.header {
    display: grid;
    grid-template-columns: 52% 8% 9% 10% 6% 7.5% 7.5%;
    grid-area: title about projects portfolio blog socials purchase;
    grid-gap: 0px;
}
a {
    font-style: none;
    margin-top: 15px;
    text-decoration: none;
    margin-right: 25px;
}
.container .header .title {
    grid: title;
    font-family: calistoga;
    font-size: var(--web-title-size);
}
.container .header [class*="menu_item"] {
    grid: about;
    font-family: montserrat;
    font-size: var(--primary-header-size);
    color: var(--primary-header);
}
.container .header [class*="menu_item"]:hover {
    color: var(--hover-effects);
    transition: 0.2s ease-in;
}
.about {
    box-sizing: border-box;
    width: 100%;
    opacity: 1;
}
.about-section {
    background-color: var(--primary-header);
}
/* .about-section .content {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 70% 30%;
    grid-area: picture about-text
                title credentials;
} */
.about-section .about-wallpaper {
    box-sizing: border-box;
    width: 100%;
    -webkit-filter: blur(3px);
    opacity: 0.5;
}
.about .marc {
    border-radius: 150px;
    z-index: 50;
    border: 2px solid white;
    height: 7em;
}


.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /* margin-bottom: 10px; */
}
div[class*="post"] {
    font-family: Roboto;
    height: 15em;
    background-color: var(--card);
    border: 1px solid rgb(255, 255, 255);
}
div[class*="post"] .post_image {
    width: 15em;
    margin: auto;
    vertical-align: middle;
}

