<!DOCTYPE html>
<html>
    <head>
        <title>marcmerih</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="index-page.component.css">
        <link rel="stylesheet" type="text/css" href="../app.component.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <span class="title">Sapplink</span>
                <a href="#about-section"><span class="menu_item-about">ABOUT</span></a>
                <a href="#projects-section"><span class="menu_item-projects">PROJECTS</span></a>
                <a href="#portfolio-section"><span class="menu_item-portfolio">PORTFOLIO</span></a>
                <a href="#blog-section"><span class="menu_item-blog">BLOG</span></a>
                <a href="#socials-section"><span class="menu_item-socials">SOCIALS</span></a>
                <a href="#purchase-section"><span class="menu_item-purchase"><u>PURCHASE</u></span></a>
            </div>
            <br>
            <br>
            <div class="about" id="about-section">
                <h1 class="head-text" data-text="CREATIVE DESIGN MADE SPECIFICALLY FOR YOU.">
                    CREATIVE DESIGN MADE SPECIFICALLY FOR YOU.
                </h1>
                <img src="../../assets/marc.jpg" class="marc" style="opacity: 1;">
                <br>
                <span class="about-prg">Born in <i>Istanbul</i>. Raised in <i>Toronto</i>. Enthusiast of music, art, travelling, and sports. Fourth year Engineering 
                    student at the University of Toronto. UI Developer for Intact Insurance.</span>
                <br><br><br>
                <span class="skill-item-1"><b>@</b> Web Design</span>
                <span class="skill-item-2"><b>@</b> UI Design</span>
                <span class="skill-item-3"><b>@</b> Motion Design</span>
                <span class="skill-item-4"><b>@</b> UX</span>
                <span class="skill-item-5"><b>@</b> Music Design</span>
                <span class="skill-item-6"><b>@</b> International Outlook & Global Vision</span>
                <span class="skill-item-7"><b>@</b> Leadership</span>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br> <!-- TO FIX BY STYLING-->
            <div class="articles" id="blog-section">
                <div class="post_1">
                    <img src="../../assets/basquiat.jpg" class="post_image">
                    <span>Title text</span>
                </div>
                <div class="post_2">
                    <span>{{ show }}</span>
                </div>
                <div class="post_1">
                    <p>hey</p>
                </div>
                <div class="post_2">
                    <p>hey</p>
                </div>
                <div class="post_2">
                        <p>hey</p>
                    </div>
            </div>
        </div>
    </body>
</html>
