body {
    overflow-x: hidden;
    background-color:var(--background);
}
.container {
    width: 80vw;
    margin: auto;
    /* background-color: red; */
}
.header {
    position: fixed;
    display: grid;
    grid-template-columns: 52% 8% 9% 10% 6% 7.5% 7.5%;
    grid-area: title about projects portfolio blog socials purchase;
    grid-gap: 0px;
    background-color: rgba(255, 255, 255, 0.966);
    margin-top: -10px;
    height: 3.5em;
    z-index: 50;
}
a {
    font-style: none;
    margin-top: 15px;
    text-decoration: none;
    margin-right: 95px;
}
.container .header .title {
    grid: title;
    font-family: calistoga;
    font-size: var(--web-title-size);
}
.container .header [class*="menu_item"] {
    grid: about;
    font-family: montserrat;
    font-size: var(--primary-header-size);
    color: var(--primary-header);
}
.container .header [class*="menu_item"]:hover {
    color: var(--hover-effects);
    transition: 0.2s ease-in;
}
.about {
    box-sizing: border-box;
    width: 100%;
    /* background-color: var(--secondary); */
    height: 25.795em;
    margin-top: 1em;
}
.about-section {
    background-color: var(--primary-header);
    position: relative;
}
.head-text {
    font-family: montserrat;
    position: absolute;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 12%;
    margin-left: 2.5%;
    text-transform: translate(-50%, -50%);
    color: transparent;
}
.head-text:before {
    content: attr(data-text);
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    border-right: 1px solid #000;
    animation: type 3s steps(45) forwards;
    white-space: nowrap;
}
@keyframes type {
    0% {
        width: 0;
    }
    10% {
        border-right: 1px solid #000;
    }
    20% {
        border-right: 1px solid transparent;
    }
    30% {
        border-right: 1px solid #000;
    }
    40% {
        border-right: 1px solid transparent;
    }
    50% {
        border-right: 1px solid #000;
    }
    60% {
        border-right: 1px solid transparent;
    }
    70% {
        border-right: 1px solid #000;
    }
    80% {
        border-right: 1px solid transparent;
    }
    90% {
        border-right: 1px solid #000;
    }
    100% {
        width: 100%;
        border-right: 1px solid transparent;
    }
}
.line-1 {
    position: relative;
    top: 13em;
    width: 70em;
    margin-left: 0em;
}
.container .about .marc {
    vertical-align: middle;
    border-radius: 150px;
    border: 4px solid var(--secondary);
    height: 6em;
    margin-top: 22%;
    margin-left: 45%;
    margin-bottom: 2%;
    -webkit-filter: blur(0px) !important;
}
.about-prg {
    font-family: montserrat;
    font-size: var(--secondary-header-size);
    text-align: center;
    width: 10% !important;
    margin-left: 0.7em;
}
.below-desc {
    vertical-align: middle;
    margin: auto;
}
span[class*="skill-item"] {
    display: inline;
    width: auto;
    height: 1.2em;
    background-color: var(--secondary);
    padding: 7px;
    border-radius: 25px;
    font-family: montserrat;
}
span[class*="skill-item"]:hover{
    background-color: var(--tertiary);
    padding: 7px;
    border-radius: 25px;
    border: 1px solid var(--secondary);
    font-family: montserrat;
    transition: 0.2s;
}

.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /* margin-bottom: 10px; */
}
div[class*="post"] {
    font-family: Roboto;
    height: 15em;
    background-color: var(--card);
    border: 1px solid rgb(255, 255, 255);
}
div[class*="post"] .post_image {
    width: 15em;
    margin: auto;
    vertical-align: middle;
}

