body {
    overflow-x: hidden;
    background-color:var(--background);
}
.container {
    width: 80vw;
    margin: auto;
    /* background-color: red; */
}
.header {
    display: grid;
    grid-template-columns: 50% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    grid-area: title about projects portfolio blog socials purchase;
    grid-gap: 15px;
}
.container .header .title {
    grid: title;
    background-color: red;
    font-family: calistoga;
    font-size: var(--web-title-size);
}
.container .header .about {
    grid: about;
    background-color: red;
    font-family: calistoga;
    font-size: var(--primary-title-size);
}
.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /* margin-bottom: 10px; */
}

div[class*="post"] {
    font-family: Roboto;
    height: 15em;
    background-color: var(--card);
    border: 1px solid rgb(255, 255, 255);
}

div[class*="post"] .post_image {
    width: 15em;
    margin: auto;
    vertical-align: middle;
}

