body {
    overflow-x: hidden;
    background-color: #f7f7f7;
}
.container {
    width: 80vw;
    margin: auto;
    /* background-color: red; */
}
.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /* margin-bottom: 10px; */
}

div[class*="post"] {
    font-family: Roboto;
    height: 15em;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(255, 255, 255);
}

div[class*="post"] .post_image {
    width: 15em;
    margin: auto;
    vertical-align: middle;
}

