:root {
    /* Colours */
    --background: white;
    --secondary: #5bee7365;
    --primary-header: #0c0c0c;
    --secondary-header: #161616;
    --hover-effects: #707070;
    --text: black;
    --card: rgb(233, 233, 233);

    /* Sizes */
    --web-title-size: 28pt;
    --primary-header-size: 10pt;
    --secondary-header-size: 14pt;
    --text-size: 12pt;
}

html {
    scroll-behavior: smooth;
}